<header>
  <span><strong>Deep Pockets Shop</strong></span>
  <nav class="header-nav">
    <ul>
      <li><a href="/inventory/products/all">Products</a></li>
      <li><a href="/inventory/category/all">Categories</a></li>
    </ul>
  </nav>
</header>
