<header>
  <span
    ><a style="text-decoration: none; color: black" href="/inventory/"
      ><strong>Deep Pockets Shop</strong></a
    ></span
  >
  <nav class="header-nav">
    <ul>
      <li><a href="/inventory/products/all">Products</a></li>
      <li><a href="/inventory/category/all">Categories</a></li>
    </ul>
  </nav>
</header>
